/*
 * React Fabric
 * @version   : 1.0.0
 * @copyright : 2024
 * @author    : Adarsh Pastakia
 */

@import "tailwindcss";
@import "@react-fabric/chart/css/styles.css";
@import "@react-fabric/core/css/styles.css";
@import "@react-fabric/data/css/styles.css";
@import "@react-fabric/date/css/styles.css";
@import "@react-fabric/form/css/styles.css";
@import "@react-fabric/lexical/css/styles.css";
@import "@react-fabric/graph/css/styles.css";
@import "@react-fabric/map/css/styles.css";
@import "@react-fabric/mdx/css/styles.css";
@import "@react-fabric/media/css/styles.css";
@import "@react-fabric/monaco/css/styles.css";
@import "@react-fabric/superdate/css/styles.css";
@import "./_overrides.css";
@import "./_prism.css";
@import "./_prism-dark.css";
@import "./_prism-light.css";

@source inline("circle-flags--{aw,af,ao,ai,ax,al,ad,ae,ar,am,as,aq,tf,ag,au,at,az,bi,be,bj,bf,bd,bg,bh,bs,ba,bl,sh,by,bz,bm,bo,bq,br,bb,bn,bt,bv,bw,cf,ca,cc,ch,cl,cn,ci,cm,cd,cg,ck,co,km,cv,cr,cu,cw,cx,ky,cy,cz,de,dj,dm,dk,do,dz,ec,eg,er,eh,es,ee,et,fi,fj,fk,fr,fo,fm,ga,gb,ge,gg,gh,gi,gn,gp,gm,gw,gq,gr,gd,gl,gt,gf,gu,gy,hk,hm,hn,hr,ht,hu,id,im,in,io,ie,ir,iq,is,il,it,jm,je,jo,jp,kz,ke,kg,kh,ki,kn,kr,xk,kw,la,lb,lr,ly,lc,li,lk,ls,lt,lu,lv,mo,mf,ma,mc,md,mg,mv,mx,mh,mk,ml,mt,mm,me,mn,mp,mz,mr,ms,mq,mu,mw,my,yt,na,nc,ne,nf,ng,ni,nu,nl,no,np,nr,nz,om,pk,pa,pn,pe,ph,pw,pg,pl,pr,kp,pt,py,ps,pf,qa,re,ro,ru,rw,sa,sd,sn,sg,gs,sj,sb,sl,sv,sm,so,pm,rs,ss,st,sr,sk,si,se,sz,sx,sc,sy,tc,td,tg,th,tj,tk,tm,tl,to,tt,tn,tr,tv,tw,tz,ug,ua,um,uy,us,uz,va,vc,ve,vg,vi,vn,vu,wf,ws,ye,za,zm,zw}");

@plugin "@iconify/tailwind4" {
  prefixes: circle-flags;
}
