/*
 * React Fabric
 * @version   : 1.0.0
 * @copyright : 2024
 * @author    : Adarsh Pastakia
 */

@import "tailwindcss";
@import "@react-fabric/chart/css/styles.css";
@import "@react-fabric/core/css/styles.css";
@import "@react-fabric/data/css/styles.css";
@import "@react-fabric/date/css/styles.css";
@import "@react-fabric/form/css/styles.css";
@import "@react-fabric/lexical/css/styles.css";
@import "@react-fabric/graph/css/styles.css";
@import "@react-fabric/map/css/styles.css";
@import "@react-fabric/mdx/css/styles.css";
@import "@react-fabric/media/css/styles.css";
@import "@react-fabric/monaco/css/styles.css";
@import "@react-fabric/superdate/css/styles.css";
@import "@react-fabric/core/css/flags.rect.css";
@import "./_overrides.css";
@import "./_prism.css";
@import "./_prism-dark.css";
@import "./_prism-light.css";
